In [5]:
import pandas as pd
from datetime import datetime

In [6]:
dados = pd.read_csv('../1_bases_originais/futebol.csv', sep=';', encoding='UTF-8')

In [7]:
dados.columns = dados.columns.str.lower()
dados.columns = dados.columns.str.replace('\W', '')
dados.home_team_name=dados.home_team_name.str.replace('\W','')
dados.away_team_name=dados.away_team_name.str.replace('\W','')

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:4: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:4: SyntaxWarning: invalid escape sequence '\W'
C:\Users\luan_\AppData\Local\Temp\ipykernel_21384\2775261048.py:2: SyntaxWarning: invalid escape sequence '\W'
  dados.columns = dados.columns.str.replace('\W', '')
C:\Users\luan_\AppData\Local\Temp\ipykernel_21384\2775261048.py:3: SyntaxWarning: invalid escape sequence '\W'
  dados.home_team_name=dados.home_team_name.str.replace('\W','')
C:\Users\luan_\AppData\Local\Temp\ipykernel_21384\2775261048.py:4: SyntaxWarning: invalid escape sequence '\W'
  dados.away_team_name=dados.away_team_name.str.replace('\W','')

In [8]:
dados.head(3)

,date_gmt,status,attendance,home_team_name,away_team_name,referee,game week,pre-match ppg (home),pre-match ppg (away),home_ppg,away_ppg,home_team_goal_count,away_team_goal_count,total_goal_count,total_goals_at_half_time
0,Apr 16 2021 - 10:00pm,complete,NaN,Guaireña,Olimpia,Julio César Quintana Rodríguez,12.0,2.20,2.40,1.30,2.10,1,2,3,3
1,Oct 26 2019 - 2:00pm,complete,14008.0,Millwall,Stoke City,Darren England,14.0,1.83,0.67,1.65,0.87,2,0,2,1
2,Apr 03 2013 - 4:30pm,complete,25258.0,Sampdoria,Inter Milan,Luca Banti,29.0,1.64,1.57,1.42,1.37,0,2,2,1

In [9]:
dados.date_gmt.loc[0]

'Apr 16 2021 - 10:00pm'

In [10]:
type(dados.date_gmt.loc[0])

str

In [11]:
dados['date_gmt'] = dados.date_gmt.replace({"-":''})

In [12]:
dados['datanova'] = pd.to_datetime(dados['date_gmt'])

C:\Users\luan_\AppData\Local\Temp\ipykernel_21384\616533910.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dados['datanova'] = pd.to_datetime(dados['date_gmt'])

In [13]:
dados['ano']=pd.DatetimeIndex(dados['datanova']).year
dados['mes']=pd.DatetimeIndex(dados['datanova']).month

In [14]:
dados['anomes']=dados['ano'].astype(str) + dados['mes'].astype(str)
dados.loc[dados.mes<10, 'anomes']=dados['ano'].astype(str) +'0'+ dados['mes'].astype(str)
dados.anomes

0        202104
1        201910
2        201304
3        201712
4        201811
          ...
56580    201908
56581    201603
56582    201312
56583    201306
56584    201903
Name: anomes, Length: 56585, dtype: object

In [15]:
dados.iloc[:,:].head(3)

,date_gmt,status,attendance,home_team_name,away_team_name,referee,game week,pre-match ppg (home),pre-match ppg (away),home_ppg,away_ppg,home_team_goal_count,away_team_goal_count,total_goal_count,total_goals_at_half_time,datanova,ano,mes,anomes
0,Apr 16 2021 - 10:00pm,complete,NaN,Guaireña,Olimpia,Julio César Quintana Rodríguez,12.0,2.20,2.40,1.30,2.10,1,2,3,3,2021-04-16 22:00:00,2021,4,202104
1,Oct 26 2019 - 2:00pm,complete,14008.0,Millwall,Stoke City,Darren England,14.0,1.83,0.67,1.65,0.87,2,0,2,1,2019-10-26 14:00:00,2019,10,201910
2,Apr 03 2013 - 4:30pm,complete,25258.0,Sampdoria,Inter Milan,Luca Banti,29.0,1.64,1.57,1.42,1.37,0,2,2,1,2013-04-03 16:30:00,2013,4,201304

In [16]:
dados = dados.replace({'á':'a','ã':'a', 'â':'a', 'í':'i',
                '\W':'_',
                'ÅŸ':'s',
                'Ä°':'I',
                'Ä±':'i',
                'Ã¶':'o',
                'Ã§':'c',
                'ÄŸ':'g',
                'Ã¼':'u',
                'Ã©':'e',
                'Ã¡':'a',
                'Ã³':'o',
                'Ã±':'nh',
                '&':'',
                'Ã…Ë†':'n',
                'Ã§':'c',
                ' ':'',
                'Ã­':'i',
                'Ã£':'a',
                'Ãº':'u',
                'Ã':'a',
                'Ãª':'e',
                'Ã‘':'N',
                'aÂ¢':'a',
                'aÂª':'e',
                'aÂ':'a',
                "á":"a",
                "é":"e",
                "í":"i",
                "ó":"o",
                "ú":"u",
                "ã":"a",
                "õ":"o",
                "aª":"e",
                "á":"a",
                "é":"e",
                "í":"i",
                "ó":"o",
                "ú":"u",
                "ã":"a",
                "õ":"o",
                "ê":"e",
                "â":"a",
                "ô":"o",
                "ê":"e",
                "â":"a",
                "ô":"o"              
              
              }, regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\luan_\AppData\Local\Temp\ipykernel_21384\1091671883.py:2: SyntaxWarning: invalid escape sequence '\W'
  '\W':'_',

In [17]:
dados.head(3)

,date_gmt,status,attendance,home_team_name,away_team_name,referee,game week,pre-match ppg (home),pre-match ppg (away),home_ppg,away_ppg,home_team_goal_count,away_team_goal_count,total_goal_count,total_goals_at_half_time,datanova,ano,mes,anomes
0,Apr_16_2021___10_00pm,complete,NaN,Guaireña,Olimpia,Julio_Cesar_Quintana_Rodriguez,12.0,2.20,2.40,1.30,2.10,1,2,3,3,2021-04-16 22:00:00,2021,4,202104
1,Oct_26_2019___2_00pm,complete,14008.0,Millwall,Stoke_City,Darren_England,14.0,1.83,0.67,1.65,0.87,2,0,2,1,2019-10-26 14:00:00,2019,10,201910
2,Apr_03_2013___4_30pm,complete,25258.0,Sampdoria,Inter_Milan,Luca_Banti,29.0,1.64,1.57,1.42,1.37,0,2,2,1,2013-04-03 16:30:00,2013,4,201304

In [18]:
dados.isnull().sum()

date_gmt                        0
status                          0
attendance                  22536
home_team_name                  0
away_team_name                  0
referee                     26348
game week                   12015
pre-match ppg (home)            0
pre-match ppg (away)            0
home_ppg                        0
away_ppg                        0
home_team_goal_count            0
away_team_goal_count            0
total_goal_count                0
total_goals_at_half_time        0
datanova                        0
ano                             0
mes                             0
anomes                          0
dtype: int64

In [19]:
dados.fillna(0, inplace=True)

In [20]:
dados.to_csv('../2_bases_tratadas/futebol2.csv', sep=';', index=False)

In [21]:
dados.groupby(by=['datanova', 'home_team_name'])['home_team_goal_count'].sum().reset_index()

                 datanova       home_team_name  home_team_goal_count
0     2010-06-29 17:00:00      FC_Santa_Coloma                     0
1     2010-06-30 18:30:00            Tre_Fiori                     0
2     2010-07-06 16:00:00           Birkirkara                     4
3     2010-07-07 16:00:00                Rudar                     4
4     2010-07-13 15:00:00           İnter_Bakı                     0
...                   ...                  ...                   ...
54542 2021-08-02 00:00:00            CS_Emelec                     2
54543 2021-08-02 00:00:00         LA_Galaxy_II                     0
54544 2021-08-02 00:00:00            Melipilla                     2
54545 2021-08-02 01:10:00  Jaguares_de_Cordoba                     2
54546 2021-08-02 18:00:00       Villa_Española                     1

[54547 rows x 3 columns]

In [22]:
dados.groupby(by=['home_team_name','datanova'])['home_team_goal_count'].mean().reset_index().rename(columns={'home_team_goal_count':'gols'}).to_csv('../3_bases_upload/gols.csv', sep=';', index=False)

# Melhorando a visão de gols

In [23]:
dados.groupby(by=['anomes', 'home_team_name'])['home_team_goal_count'].sum().reset_index()

       anomes       home_team_name  home_team_goal_count
0      201006      FC_Santa_Coloma                     0
1      201006            Tre_Fiori                     0
2      201007                  AIK                     1
3      201007                 Ajax                     1
4      201007               Aktobe                     3
...       ...                  ...                   ...
28238  202108              Toronto                     1
28239  202108               Torque                     0
28240  202108    Universidad_Chile                     2
28241  202108  Vancouver_Whitecaps                     2
28242  202108       Villa_Española                     1

[28243 rows x 3 columns]

In [24]:
dados.groupby(by=['home_team_name','anomes'])['home_team_goal_count'].mean().reset_index().rename(columns={'home_team_goal_count':'gols'}).to_csv('../3_bases_upload/gols.csv', sep=';', index=False)

# Adicionando novos indicadores

In [25]:
result = dados.groupby(by=['anomes', 'home_team_name']).agg({
    'home_team_goal_count': 'mean',
    'home_ppg': 'mean'
}).reset_index()

In [26]:
dados.groupby(by=['anomes', 'home_team_name']).agg({
    'home_team_goal_count': 'mean',
    'home_ppg': 'mean'
}).reset_index().rename(columns={'home_team_goal_count': 'gols'}).to_csv('../3_bases_upload/gols.csv', sep=';', index=False)

In [27]:
dados.columns

Index(['date_gmt', 'status', 'attendance', 'home_team_name', 'away_team_name',
       'referee', 'game week', 'pre-match ppg (home)', 'pre-match ppg (away)',
       'home_ppg', 'away_ppg', 'home_team_goal_count', 'away_team_goal_count',
       'total_goal_count', 'total_goals_at_half_time', 'datanova', 'ano',
       'mes', 'anomes'],
      dtype='object')

In [28]:
pd.__version__

'2.2.3'

In [29]:
!pip freeze > bibliotecas.txt